@font-face {
  font-family: 'Tramuntana';
  src: font-url('Tramuntana-Heavy.woff2') format("woff2"),
    font-url('Tramuntana-Heavy.woff') format("woff"),
    font-url('Tramuntana-Heavy.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
